/* Default styling */

body {
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

body, a, p {
    cursor: none;
}

/* Utility Classes */

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.d-none {
    display: none !important;
}

.secondary-font {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
}

.primary-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.primary-font-md {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.primary-font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.light-color {
    color: #FFF8EB;
}

.dark-color {
    color: #131f3e;
}

.primary-color {
    color: #d36582;
};

.sm-font {
    font-size: 16px;
}

.md-font {
    font-size: 24px;
}

.lg-font {
    font-size: 40px;
}

.xlg-font {
    font-size: calc(56px + 0.390625vw);
}

.text-center {
    text-align: center;
}

.mt-sm {
    margin-top: 6px;
}

.mt-md {
    margin-top: 12px;
}

.mt-lg {
    margin-top: 20px;
}

.mt-xlg {
    margin-top: 40px;
}

.mb-sm {
    margin-bottom: 6px;
}

.mb-md {
    margin-bottom: 12px;
}

.mb-lg {
    margin-bottom: 20px;
}

.mb-xlg {
    margin-bottom: 40px;
}

.no-wrap {
    white-space: nowrap;
}

.upcase {
    text-transform: uppercase;
}

.vertical {
    writing-mode: vertical-rl;
}

/* Reusable Components */

.primary-btn {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    letter-spacing: 2.5px;
    color: #131f3e;
    background-color: #FFF8EB;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
    padding: 6px 16px;
}
  
.primary-btn:hover {
    background-color: #d36582;
    box-shadow: 0px 15px 20px rgba(211, 101, 130, 0.4);
    color: #FFF8EB;
    transform: translateY(-7px);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    transition: all 0.3s ease 0s;
}

.navbar a:hover {
    transform: translateY(-4px);
}

.underline-span {
    display: inline-block;
    background-image: linear-gradient(to right, #d36582, #d36582);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all .6s ease-in-out;
}

.underline-span:hover {
    background-size: 100% 2px;
    color: #d36582;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

#cursorBlob {
    width: 50px;
    height: 50px;
    background: linear-gradient(
      120deg,
      #FF1744,
      #E040FB,
      #2979FF,
      #00E5FF,
      #76FF03
    );
    background-size: 1600% 1600%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
    transition: 0.15s linear;
    animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}
@keyframes blobRadius {
    0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
    20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
    40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
    60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
    80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
}
@keyframes blobBackground {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.draggable {
    position: absolute;
    top: 160px;
    right: 100px;
}

/* Custom layout */

.home-container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(100% 225% at 0% 100%, #FF04F5 0%, #001AFF 100%), linear-gradient(270deg, #FB00A5 50%, #0400CB 100%), linear-gradient(300deg, #8DADA4 0%, #32DE81 100%), linear-gradient(7deg, #1DADFE 0%, #16009A 50%);
    background-blend-mode: color-dodge, color-burn, color-burn, normal;
}

.home-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}

.playlist-container {
    width: 100vw;
    min-height: 100vh;
    background: rgb(255,248,235);
    background: radial-gradient(circle, rgba(255,248,235,1) 0%, rgba(255,241,214,1) 93%, rgba(255,241,214,1) 100%);
}

.playlist-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-cards {
    padding: 24px 0;
}

.playlist-card {
    border: 1px solid #131f3e;
    border-radius: 2px;
    padding: 30px 20px 20px;
    min-height: calc(100vh - 225px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spotify-logo {
    height: 30px;
    margin-right: 8px;
    transition: all 0.3s ease 0s;
}

.spotify-logo:hover {
    transform: translateY(-5px);
}

.artist-img {
    height: 180px;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.followers-detail {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.artist-container {
    max-width: 400px;
}

.track-container {
    width: 60%;
}

.track-genres {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.track-genres h3 {
    transition: all 4s ease-in-out 0s;
}

/* Loader */

.playlist-container {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #d36582;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* Responsive */

@media only screen and (max-width: 768px) {
    .lg-font {
        font-size: calc(40px + 0.390625vw);
    }
}

@media only screen and (max-width: 768px) {
    .track-container {
        max-width: 600px;
    }
}