#title {
    color: red;
}

.h-font {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
}

.p-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.p-font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}